/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[5].use[0]!./components/waDialog.vue?vue&type=style&index=0&id=7adef826&lang=stylus ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.w-syrnik-dialog > .dialog-body {
  display: flex;
  flex-direction: column;
}
.w-syrnik-dialog > .dialog-body > .dialog-content {
  flex: 1;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/stylus-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[5].use[0]!./settings/OperatingRegionsModal.vue?vue&type=style&index=0&id=69fa975e&lang=stylus ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.w-shipping-dostavista-operating-region-dialog.dialog .dialog-body {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
}
.w-shipping-dostavista-operating-region-dialog .w-shipping-dostavista-region-list {
  list-style-type: none;
}
@media screen and (min-width: 1280px) {
  .w-shipping-dostavista-operating-region-dialog .w-shipping-dostavista-region-list {
    column-count: 3;
    column-gap: 1em;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .w-shipping-dostavista-operating-region-dialog .w-shipping-dostavista-region-list {
    column-count: 2;
    column-gap: 0.75em;
  }
}
.w-shipping-dostavista-operating-region-dialog .w-shipping-dostavista-region-list-item {
  padding: 0.25em 3px;
}
.w-shipping-dostavista-operating-region-dialog .w-shipping-dostavista-region-list-item label {
  display: block;
}

