<div id="{$plugin_id}-shipping-settings"></div>
<script>
  $(function () {
    window.$_syrnik_current_locale = '{$wa->locale()}';

    Promise.all([
      new Promise(function (resolve, reject) {
        var id = 'w-shipping-dostavista-plugin-settings-legacy-script';
        if (document.getElementById(id)) { resolve(); return; }
        var el = document.createElement('script');
        el.src = '{$wa_static_url}wa-plugins/shipping/dostavista/js/settings-legacy.js?v={$info.version}';
        el.id = id;
        document.head.appendChild(el);
        el.onload = function () { resolve(); };
        el.onerror = function () { reject(new Error('Ошибка загрузки скрипта настроек.')); };
      }),
      new Promise(function (resolve, reject) {
        var id = 'w-shipping-dostavista-plugin-settings-legacy-style';
        if (document.getElementById(id)) { resolve(); return; }
        var el = document.createElement('link');
        el.rel = 'stylesheet';
        el.type = 'text/css';
        el.id = id;
        el.href = '{$wa_static_url}wa-plugins/shipping/dostavista/css/settings-legacy.css?v={$info.version}';
        document.head.appendChild(el);
        el.onload = function () { resolve(); };
        el.onerror = function () { reject(new Error('Ошибка загрузки стилей настроек.')); };
      })
    ]).then(function () {
      ShippingDostavistaPluginSettings.run({
        el: '#{$plugin_id}-shipping-settings',
        info: {$info|json_encode:256},
        settings: {$settings|json_encode:256}
      });
    }).catch(function (err) {
      document.getElementById('{$plugin_id}-shipping-settings').innerHTML =
        '<p class="red">' + err.message + '</p>';
    });
  });
</script>
